{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Appointments.</div>
		<ul class="list-group">
		<li class="list-group-item diag-header"><span>Doctor</span><span class="diag-date">Date</span></li>
		  <li class="list-group-item appt-item" data-apptid=1><span>Dr. Cuddy</span><span class="diag-date">5.16.2017</span></li>
		  <li class="list-group-item appt-item" data-apptid=2><span>Dr. Wilson</span><span class="diag-date">5.25.2017</span></li>
		  <li class="list-group-item appt-item" data-apptid=3><span>Dr. House</span><span class="diag-date">5.27.2017</span></li>
		</ul>

		<div id ="diag-back" class="back-btn">< Back </div>
  </div>
</div>