{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Diagnostics.</div>
		<ul class="list-group">
		<li class="list-group-item diag-header"><span>Test</span><span class="diag-date">Date ordered</span></li>
		  <li class="list-group-item diag-item" data-testid=1><span>Mammogram</span><span class="diag-date">5.15.2017</span></li>
		  <li class="list-group-item diag-item" data-testid=2><span>Biopsy</span><span class="diag-date">5.15.2017</span></li>
		  <li class="list-group-item diag-item-done" data-testid=3><span>CT Scan</span><span class="diag-date">5.15.2017</span></li>
		</ul>
		<div>
		<div id ="diag-back" class="back-btn">< Back </div>
		<div id="diag-past" class="diag-past-btn">Past Diagnostics ></div>
		</div>
  </div>
</div>