{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Hello Hao.</div>
    <div class="col-sm-4 patient-opt">
      <div id = "diag-box" class="well">
        <h3>Diagnostics</h3>
        <p>Determine what tests or exams you may need.</p>
      </div>
    </div>
    <div class="col-sm-4 patient-opt">
      <div id="appts-box" class="well">
        <h3>Appointments</h3>
        <p>Know what doctor visits are in your future.</p>

      </div>        
    </div> 
    <div class="col-sm-4 patient-opt">
      <div id="docs-box" class="well">
        <h3>Doctors</h3>        
        <p>Have information on your doctors, on hand.</p>
      </div>        
    </div>
  </div>
</div>
