{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Appointments.</div>
  		<div class="test-name">{{doctor_name}}</div>
  		<div class="test-box">
        <div class="test-header">Appointment Information</div>
        <div class="test-header">What kind of doctor is {{doctor_name}}?</div>
        <div>{{doctor_name}} is a {{doctor_type}}. </div>

	  		<div class="test-header">How to prepare.</div>
	  		<div class="test-header">How to follow-up.</div>

  		</div>
  		<div id ="appt-back" class="back-btn">< Back </div>
  </div>
</div>