{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Doctors.</div>
		<ul class="list-group">
		<li class="list-group-item diag-header"><span>Doctor</span><span class="diag-date">Specialty</span></li>
		  <li class="list-group-item doc-item" data-docid=2><span>Dr. Wilson</span><span class="diag-date">Oncology</span></li>
		  <li class="list-group-item doc-item" data-docid=3><span>Dr. Who</span><span class="diag-date">Endocrinology</span></li>
		</ul>

		<div id ="diag-back" class="back-btn">< Back </div>
  </div>
</div>