{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Doctors.</div>
  		<!-- <div class="test-name">{{doctor_name}}</div> -->
      <div class="test-name">Dr. James Wilson</div>
  		<div class="test-box">
        <div class="test-header">Contact Information</div>
        <div>Phone: 555-666-7777</div>
        <div>Email: wilson@house.edu</div>
<!--         <div class="test-header">What kind of doctor is {{doctor_name}}?</div> -->
        <div class="test-header">What kind of doctor is Dr. James Wilson?</div>
        <div></div>
        <div>Dr. Wilson is a cancer doctor, specializing in breast and ovarian cancers. </div>
        <!-- <div>{{doctor_name}} is a {{doctor_type}}. </div> -->
  		</div>
  		<div id ="doc-back" class="back-btn">< Back </div>
  </div>
</div>