{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Doctors.</div>
  		<div class="test-name">{{doctor_name}}</div>
  		<div class="test-box">
        <div class="test-header">Contact Information</div>
        <div class="test-header">What kind of doctor is {{doctor_name}}?</div>
        <div>{{doctor_name}} is a {{doctor_type}}. </div>
  		</div>
  		<div id ="doc-back" class="back-btn">< Back </div>
  </div>
</div>