{{> header}}

<div class="container patient-box">
  <div class="row">
 <!--  <div class="patient-welcome">Get help with {{test_name}}.</div> -->
  <div class="patient-welcome">Get help with Mammogram.</div>
  		<div class="test-box">
	  		<div class="test-help-done">A message has been sent to Dr. Wilson</div>
        <div id ="test-back" class="back-btn">< Back </div>
  		</div>
    	
  </div>
</div>