{{> header}}

<div class="container patient-box">
  <div class="row">
 <!--  <div class="patient-welcome">Get help with {{test_name}}.</div> -->
  <div class="patient-welcome">Get help with Mammogram.</div>
  		<div class="test-box">
	  		<div class="test-header">What do you need clarified?</div>

        <form >

<!--             <input class="test-help-contact " type="text" name="help-info" placeholder="Type text here."> -->
              <textarea class="form-control test-help-contact" rows="8" placeholder="Type text here."></textarea>
              <input type="submit" value="Contact Your Doctor" id="diag-help-contact" class="diag-help-contact-btn" data-diagid={{test_id}}> </div>
        </form> 
        <div id ="test-back" class="back-btn">< Back </div>
  		</div>
    	
  </div>
</div>