{{> header}}

<div class="container patient-box">
  <div class="row">
  <div class="patient-welcome">Your Diagnostics.</div>
  		<div class="test-name">{{test_name}}</div>
  		<div class="test-box">
	  		<div class="test-header">Why do you need to do this?</div>
	  		<div>{{test_expl}}</div>

	  		<div class="test-header">How to prepare.</div>
	  		<div class="test-header">How to follow-up.</div>
  		</div>
  		
    <div>
    <div id ="test-back" class="back-btn">< Back </div>
    <div id="diag-help" class="diag-help-btn" data-diagid={{test_id}}> Help! > </div>
    </div>
  </div>
</div>